<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.epsilon.ewl.emf.wizards" name="Wizards" schema="schema/org.eclipse.epsilon.ewl.emf.wizards.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.eclipse.ewl.emf"
            objectClass="org.eclipse.emf.ecore.EObject">
         <action
               class="org.eclipse.epsilon.ewl.emf.ContributeEmfWizardsAction"
               enablesFor="+"
               id="org.eclipse.epsilon.ewl.emf.wizards"
               label="Wizards"
               state="true"
               style="pulldown">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Epsilon"
            class="org.eclipse.epsilon.ewl.emf.WizardsPreferencePage"
            id="org.eclipse.epsilon.ewl.gmf.WizardsPreferencePage"
            name="EMF/GMF Wizards">
      </page>
   </extension>

</plugin>
