<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.epsilon.workflow.eunit.listener" name="EUnitListener" schema="schema/org.eclipse.epsilon.workflow.eunit.listener.exsd"/>
      <extension point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.ForTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.for"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.LoadModelTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.loadModel"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.EolTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.eol"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.EUnitTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.eunit"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.EtlTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.etl"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.EclTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.ecl"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.EmlTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.eml"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.EvlTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.evl"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.EglTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.egl"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.FlockTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.flock"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.StoreModelTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.storeModel"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.DisposeModelTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.disposeModel"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.DisposeModelsTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.disposeModels"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.transactions.CommitTransactionTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.commitTransaction"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.transactions.StartTransactionTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.startTransaction"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.transactions.RollbackTransactionTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.rollbackTransaction"/>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.LoadCompositeModelTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.loadCompositeModel">
      </antTask>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.xml.LoadXmlModel"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.xml.loadModel">
      </antTask>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.EplTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.epl">
      </antTask>
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.ExecuteStaticMethodTask"
            library="lib/org.eclipse.epsilon.workflow.jar"
            name="epsilon.java.executeStaticMethod">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/org.eclipse.epsilon.workflow.jar"/>
   </extension>

</plugin>
