<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="launchConfigurationExtension" name="Launch Configuration Extension" schema="schema/launchConfigurationExtension.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.epsilon.eol.dt.launching.EolLaunchConfigurationDelegate"
            id="org.epsilon.eol.eclipse.dt.launching.EolLaunchConfigurationDelegate"
            modes="run, debug"
            name="EOL Program">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.epsilon.eol.eclipse.dt.launching.EolLaunchConfigurationDelegate"
            icon="icons/eol.gif"
            id="EolProgram"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.epsilon.eol.dt.launching.EolLaunchConfigurationTabGroup"
            description="Create a configuration to launch an EOL program."
            id="org.eclipse.epsilon.eol.dt.launching.EolLaunchConfigurationTabGroup"
            type="org.epsilon.eol.eclipse.dt.launching.EolLaunchConfigurationDelegate"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.epsilon.eol.dt.editor.EolEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="eol, eunit"
            icon="icons/eol.gif"
            id="org.eclipse.epsilon.eol.dt.editor.EolEditor"
            name="Epsilon Object Language Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.epsilon.dt"
            class="org.eclipse.epsilon.eol.dt.wizards.NewEolFileWizard"
            icon="icons/eol.gif"
            id="org.eclipse.epsilon.eol.dt.wizards.NewEolFileWizard"
            name="EOL Program">
         <description>
            Create a new EOL program
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.eclipse.epsilon.eol.dt.debug.EolBreakpoint"
            id="org.eclipse.epsilon.eol.dt.debug.EolBreakpoint"
            markerType="org.eclipse.epsilon.eol.dt.debug.breakpointMarker"
            name="Epsilon Breakpoint">
      </breakpoint>
   </extension>
   <extension
         id="debug.breakpointMarker"
         name="Epsilon Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.epsilon.common.dt.editor.AbstractModuleEditor"
            class="org.eclipse.epsilon.eol.dt.debug.EolEditorAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="editor.rulerActions"
            targetID="editor.rulerMenu">
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.eclipse.epsilon.eol.dt.debug.ToggleBreakpointActionDelegate"
               label="Toggle Breakpoint"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.epsilon.eol.dt.debug.DebugModelPresentation"
            id="eol.debugModel">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.moduleValidator">
      <moduleValidator
            class="org.eclipse.epsilon.eol.dt.editor.EolModuleValidator">
      </moduleValidator>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.moduleImplementation">
      <implementation
            class="org.eclipse.epsilon.eol.EolModule"
            default="false"
            dialog="org.eclipse.epsilon.eol.dt.launching.EolModuleConfiguration"
            language="EOL"
            name="Sequential">
      </implementation>
      <implementation
            class="org.eclipse.epsilon.eol.concurrent.EolModuleParallel"
            default="true"
            dialog="org.eclipse.epsilon.eol.dt.launching.EolModuleParallelConfiguration"
            language="EOL"
            name="Parallel">
      </implementation>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.eclipse.epsilon.eol.EolModule"
            defaultName="module">
      </tool>
   </extension>
</plugin>
