<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.productivity"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.productivity.GenerateEmlAction"
               enablesFor="1"
               icon="icons/eml.gif"
               id="org.eclipse.epsilon.productivity.GenerateEmlAction"
               label="Generate EML (Union)"
               menubarPath="org.eclipse.epsilon.productivity.ecore/actions"/>
         <action
               class="org.eclipse.epsilon.productivity.GenerateEmlOverrideAction"
               enablesFor="1"
               icon="icons/eml.gif"
               id="org.eclipse.epsilon.productivity.GenerateEmlOverrideAction"
               label="Generate EML (Override)"
               menubarPath="org.eclipse.epsilon.productivity.ecore/actions"/>
         <action
               class="org.eclipse.epsilon.productivity.GenerateEtlAction"
               enablesFor="1"
               icon="icons/etl.gif"
               id="org.eclipse.epsilon.productivity.GenerateEtlAction"
               label="Generate ETL"
               menubarPath="org.eclipse.epsilon.productivity.ecore/actions"/>
         <menu
               id="org.eclipse.epsilon.productivity.ecore"
               label="Epsilon"
               path="additions">
            <separator
                  name="actions">
            </separator>
         </menu>
      </objectContribution>
   </extension>
</plugin>
