<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.epsilon.sirius.widget.examples.statemachine.design.Activator"
               id="org.eclipse.epsilon.sirius.widget.examples.statemachine.design"
	       name="statemachine">
    </component>
  </extension>
</plugin>
