<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.eol.dt.launchConfigurationExtension">
      <launchConfigurationExtension
            listener="org.eclipse.epsilon.examples.launchconfigurationextension.DummyLaunchConfigurationListener"
            tabContributor="org.eclipse.epsilon.examples.launchconfigurationextension.DummyLaunchConfigurationTabContributor">
      </launchConfigurationExtension>
   </extension>

</plugin>
