<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.epsilon.hutn.dt.editor.HutnEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="hutn"
            icon="icons/hutn.png"
            id="org.eclipse.epsilon.hutn.dt.editor.HutnEditor"
            name="Epsilon Human-Usable Textual Notation Editor"/>
   </extension>
  
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.epsilon.dt"
            class="org.eclipse.epsilon.hutn.dt.wizards.NewHutnFileWizard"
            icon="icons/hutn.png"
            id="org.eclipse.epsilon.hutn.dt.wizards.NewHutnFileWizard"
            name="HUTN File"/>
   </extension>
   <extension
         id="org.eclipse.epsilon.hutn.dt.builder.HutnBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false"
            isConfigurable="false">
         <run
               class="org.eclipse.epsilon.hutn.dt.builder.HutnBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.eclipse.epsilon.hutn.dt.nature.HutnNature"
         name="HUTN Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.epsilon.hutn.dt.nature.HutnNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.epsilon.hutn.dt.ToggleEpsilonNatureObjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.epsilon.hutn.dt.actions.ToggleHutnProjectNatureAction"
               icon="icons/hutn.png"
               id="org.eclipse.epsilon.dt.actions.ToggleEpsilonProjectNatureAction"
               label="Enable HUTN Project Nature"
               state="false"
               style="toggle">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.epsilon.hutn.dt.GenerateHutnDebugInformation"
            nameFilter="*.hutn"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.hutn.dt.actions.GenerateDebugInformation"
               icon="icons/hutn.png"
               id="org.eclipse.epsilon.dt.actions.GenerateDebugInformation"
               label="Generate Debugging Information">
         </action>
      </objectContribution>
   </extension>

</plugin>
