<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.moduleValidator">
      <moduleValidator
            class="org.eclipse.epsilon.examples.staticanalysis.eol.EolVariableNameChecker">
      </moduleValidator>
   </extension>
   <extension
         point="org.eclipse.epsilon.eol.dt.launchConfigurationExtension">
      <launchConfigurationExtension
            listener="org.eclipse.epsilon.examples.staticanalysis.eol.EolHelloWorldInjector">
      </launchConfigurationExtension>
   </extension>

</plugin>
