<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.spreadsheets.excel.ExcelModel"
            dialog="org.eclipse.epsilon.emc.spreadsheets.excel.dt.ExcelModelConfigurationDialog"
            icon="images/spreadsheet.png"
            label="Microsoft Excel Spreadsheet"
            stable="true"
            type="ExcelModel">
      </modelType>
   </extension>
</plugin>
