<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="esm"
            class="esm_graphical.Esm_graphicalPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated esm -->
      <package
            uri="esm"
            class="esm.EsmPackage"/>
   </extension>

</plugin>
