<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="org.eclipse.epsilon.eugenia.examples.friends.callegl.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Call EGL"
               icon="icons/callegl.png"
               class="org.eclipse.epsilon.eugenia.examples.friends.callegl.CallEglAction"
               tooltip="Call EGL"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.eclipse.epsilon.eugenia.examples.friends.callegl.CallEglAction">
         </action>
      </actionSet>
   </extension>

</plugin>
