<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/org.eclipse.epsilon.evl.engine/src/org/eclipse/epsilon/ecl/parse"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.epsilon.antlr.dev/src/org/eclipse/epsilon/antlr/dev/Tool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.epsilon.antlr.dev.Tool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-package &quot;org.eclipse.epsilon.evl.parse&quot; -lib &quot;${resource_loc:/org.eclipse.epsilon.evl.engine/src/org/eclipse/epsilon/evl/parse};${resource_loc:/org.eclipse.epsilon.eol.engine/src/org/eclipse/epsilon/eol/parse}&quot; -o ${resource_loc:/org.eclipse.epsilon.evl.engine/src/org/eclipse/epsilon/evl/parse}&#10;${resource_loc:/org.eclipse.epsilon.evl.engine/src/org/eclipse/epsilon/evl/parse/Evl.g}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.epsilon.antlr.dev"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:org.eclipse.epsilon.evl.engine/src/org/eclipse/epsilon/evl/parse}"/>
</launchConfiguration>
