<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.uml.UmlModel"
            dialog="org.eclipse.epsilon.emc.uml.dt.UmlModelConfigurationDialog"
            icon="icons/uml.gif"
            label="UML Model"
            stable="true"
            type="UML">
      </modelType>
   </extension>

</plugin>
