<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="filesystem_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="filesystem_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="filesystem.diagram.part.FilesystemDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/FilesystemDiagramFile.gif"
         extensions="filesystem_diagram"
         default="true"
         class="filesystem.diagram.part.FilesystemDiagramEditor"
         matchingStrategy="filesystem.diagram.part.FilesystemMatchingStrategy"
         contributorClass="filesystem.diagram.part.FilesystemDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="filesystem.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/FilesystemDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="filesystem.diagram.part.FilesystemCreationWizard"
  	     id="filesystem.diagram.part.FilesystemCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.InitDiagram"
            nameFilter="*.filesystem"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="filesystem.diagram.part.FilesystemInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>

   	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="FilesystemPresentation">
         <Priority name="Lowest"/>
         <ViewId id="filesystem.diagram.part.FilesystemDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="FilesystemPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="filesystem.diagram.part.FilesystemDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="FilesystemPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="filesystem.diagram.part.FilesystemDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="FilesystemRender">
         <Priority name="Lowest"/>
         <ViewId id="filesystem.diagram.part.FilesystemDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   
   
   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="filesystem.diagram.providers.FilesystemMarkerNavigationProvider">
         <MarkerType name="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Filesystem Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="filesystem.diagram.providers.FilesystemValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="filesystem.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.general"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.filesystem.diagram.general"
            class="filesystem.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.appearance"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.filesystem.diagram.appearance"
            category="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.general"
            class="filesystem.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.connections"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.filesystem.diagram.connections"
            category="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.general"
            class="filesystem.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.printing"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.filesystem.diagram.printing"
            category="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.general"
            class="filesystem.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.rulersAndGrid"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.filesystem.diagram.rulersAndGrid"
            category="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.general"
            class="filesystem.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.eclipse.epsilon.eugenia.examples.filesystem.diagram"
            labelProvider="filesystem.diagram.sheet.FilesystemSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.eclipse.epsilon.eugenia.examples.filesystem.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.eclipse.epsilon.eugenia.examples.filesystem.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="filesystem.diagram.sheet.FilesystemPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="filesystem.diagram.navigator.FilesystemAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="filesystem.diagram.providers.FilesystemViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="filesystem"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Filesystem"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,3001,3002,3003,3004"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="filesystem.diagram.providers.FilesystemEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Filesystem"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,3001,3002,3003,3004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5005,5004,5003,5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002,7003"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="filesystem.diagram.providers.FilesystemModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="filesystem.diagram.edit.parts.FilesystemEditPart" id="Filesystem_1000"/>
         <object class="filesystem.diagram.edit.parts.DriveEditPart" id="Drive_2001"/>
         <object class="filesystem.diagram.edit.parts.Drive2EditPart" id="Drive_3001"/>
         <object class="filesystem.diagram.edit.parts.FolderEditPart" id="Folder_3002"/>
         <object class="filesystem.diagram.edit.parts.ShortcutEditPart" id="Shortcut_3003"/>
         <object class="filesystem.diagram.edit.parts.FileEditPart" id="File_3004"/>
         <context elements="Filesystem_1000,Drive_2001,Drive_3001,Folder_3002,Shortcut_3003,File_3004"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="filesystem.diagram.providers.FilesystemIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="filesystem.diagram.providers.FilesystemParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="filesystem.diagram.providers.FilesystemShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="filesystem">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Filesystem_1000"
               name="%metatype.name.Filesystem_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Filesystem"
               edithelper="filesystem.diagram.edit.helpers.FilesystemEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="filesystem">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Drive_2001"
               name="%metatype.name.Drive_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Drive"
               edithelper="filesystem.diagram.edit.helpers.DriveEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="filesystem">
         <specializationType
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Drive_3001"
               name="%metatype.name.Drive_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Drive_2001"/>
            <param name="semanticHint" value="3001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="filesystem">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Folder_3002"
               name="%metatype.name.Folder_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Folder"
               edithelper="filesystem.diagram.edit.helpers.FolderEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="filesystem">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Shortcut_3003"
               name="%metatype.name.Shortcut_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Shortcut"
               edithelper="filesystem.diagram.edit.helpers.ShortcutEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="filesystem">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.File_3004"
               name="%metatype.name.File_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="File"
               edithelper="filesystem.diagram.edit.helpers.FileEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="filesystem">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Sync_4001"
               name="%metatype.name.Sync_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Sync"
               edithelper="filesystem.diagram.edit.helpers.SyncEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="filesystem">
         <specializationType
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.ShortcutTarget_4002"
               name="%metatype.name.ShortcutTarget_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4002"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.TypeContext">
         <elementType ref="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Filesystem_1000"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Drive_2001"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Drive_3001"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Folder_3002"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Shortcut_3003"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.File_3004"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.Sync_4001"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.ShortcutTarget_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.eclipse.epsilon.eugenia.examples.filesystem.diagram"
           properties="isURIEditorInput"
           class="filesystem.diagram.part.FilesystemUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.eclipse.epsilon.eugenia.examples.filesystem.diagram"
           properties="isShortcut"
           class="filesystem.diagram.part.FilesystemShortcutPropertyTester">
       </propertyTester>
   </extension>

	   
	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.resourceContent"/>
			<contentExtension pattern="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.domainResourceContent"/>
            <contentExtension pattern="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="filesystem.diagram.navigator.FilesystemNavigatorContentProvider" 
            labelProvider="filesystem.diagram.navigator.FilesystemNavigatorLabelProvider"
            icon="icons/obj16/FilesystemDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="filesystem_diagram"/>
               </and>
               <instanceof value="filesystem.diagram.navigator.FilesystemAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="filesystem.diagram.navigator.FilesystemAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.navigatorSorter" 
               class="filesystem.diagram.navigator.FilesystemNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="filesystem_diagram"/>
                  </and>
                  <instanceof value="filesystem.diagram.navigator.FilesystemAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="filesystem.diagram.navigator.FilesystemDomainNavigatorContentProvider" 
            labelProvider="filesystem.diagram.navigator.FilesystemDomainNavigatorLabelProvider"
            icon="icons/obj16/FilesystemDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="filesystem"/>
               </and>
               <instanceof value="filesystem.diagram.navigator.FilesystemDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="filesystem.diagram.navigator.FilesystemDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.navigatorActionProvider"
            class="filesystem.diagram.navigator.FilesystemNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="filesystem.diagram.navigator.FilesystemAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.navigatorLinkHelper"
            class="filesystem.diagram.navigator.FilesystemNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="filesystem.diagram.navigator.FilesystemAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="filesystem.diagram.part.FilesystemDiagramUpdateCommand"
         description="%update.diagram.description"
         id="filesystem.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="filesystem.diagram.updateDiagram"
         contextId="filesystem.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
<extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="filesystem.diagram.part.FilesystemDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="filesystem.diagram.edit.parts.FilesystemEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

<extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="filesystem.diagram.part.FilesystemDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.eclipse.epsilon.eugenia.examples.filesystem.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="filesystem.diagram.part.FilesystemDiagramEditorID"
         defaultHandler="filesystem.diagram.part.LoadResourceAction"/>
   </extension>

<extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

</plugin>
