<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.picto.pictoSource">
      <pictoSource
            class="org.eclipse.epsilon.picto.plantuml.PlantUmlSource">
      </pictoSource>
   </extension>
   <extension
         point="org.eclipse.epsilon.picto.viewContentTransformer">
      <pictoSource
            class="org.eclipse.epsilon.picto.plantuml.PlantUmlContentTransformer">
      </pictoSource>
   </extension>
</plugin>
