<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.epsilon.dt"
            class="org.eclipse.epsilon.dt.epackageregistryexplorer.PackageRegistryExplorerView"
            icon="icons/epackage.png"
            id="org.eclipse.epsilon.dt.epackageregistryexplorer.PackageRegistryExplorerView"
            name="EPackage Registry"
            restorable="true">
      </view>
      <view
            category="org.eclipse.epsilon.dt"
            class="org.eclipse.epsilon.dt.epackageregistryexplorer.CachedResourceView"
            icon="icons/cache.png"
            id="org.eclipse.epsilon.dt.epackageregistryexplorer.CachedResourceView"
            name="Model Cache"
            restorable="true">
      </view>
   </extension>
</plugin>
