<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Sun Mar 08 00:22:33 GMT 2009&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=OO&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;metamodelUri=OO&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.oo2db/models/OOInstance.model&#13;&#10;expand=false&#13;&#10;metamodelFile=/org.eclipse.epsilon.examples.oo2db/metamodels/OO.ecore&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Sun Mar 08 00:22:40 GMT 2009&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=DB&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=DB&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.oo2db/models/DBInstance.model&#13;&#10;expand=false&#13;&#10;metamodelFile=/org.eclipse.epsilon.examples.oo2db/metamodels/DB.ecore&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Sun Mar 08 00:22:47 GMT 2009&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=OO2DB&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;metamodelUri=TM&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.oo2db/models/OO2DB.model&#13;&#10;expand=false&#13;&#10;metamodelFile=/org.eclipse.epsilon.examples.oo2db/metamodels/TM.ecore&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Thu Jun 04 21:54:41 BST 2009&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=Trace&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=SimpleTrace&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.oo2db/models/Trace.model&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
</listAttribute>
<stringAttribute key="source" value="/org.eclipse.epsilon.examples.oo2db/OO2DB.etl"/>
<stringAttribute key="sourceModel" value="OO"/>
<stringAttribute key="targetModel" value="DB"/>
<listAttribute key="tools"/>
<stringAttribute key="transformationStrategy" value="Default"/>
</launchConfiguration>
