<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.spreadsheets.google.dt.SecureGSModel"
            dialog="org.eclipse.epsilon.emc.spreadsheets.google.dt.GSModelConfigurationDialog"
            icon="images/spreadsheet.jpg"
            label="Google Spreadsheet"
            stable="false"
            type="SecureGSModel">
      </modelType>
   </extension>
</plugin>
