<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Epsilon Target Platform" sequenceNumber="123">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/cbi/updates/license"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
		<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xtext.runtime.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/releases/2020-06"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.emf.emfatic.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/emfatic/update"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.compare.uml2.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.3/R201911051515"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.gmf.sdk.feature.group" version="3.2.1.201409171321"/>
		<unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="3.2.1.201409171321"/>
		<unit id="org.eclipse.gmf.tooling.feature.group" version="3.2.1.201409171321"/>
		<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.2.1.201409171321"/>
		<repository location="http://download.eclipse.org/modeling/gmp/gmf-tooling/updates/releases"/>
	</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="com.atlassian.commonmark" version="0.15.1.v20200707-1444"/>
		<unit id="com.atlassian.commonmark-gfm-strikethrough" version="0.15.1.v20200707-1444"/>
		<unit id="com.atlassian.commonmark-gfm-tables" version="0.15.1.v20200707-1444"/>
		<unit id="com.atlassian.commonmark-heading-anchor" version="0.15.1.v20200707-1444"/>
		<unit id="com.atlassian.commonmark-image-attributes" version="0.15.1.v20200707-1444"/>
		<unit id="com.atlassian.commonmark-ins" version="0.15.1.v20200707-1444"/>
		<unit id="com.atlassian.commonmark-task-list-items" version="0.15.1.v20200707-1444"/>
		<unit id="com.atlassian.commonmark-yaml" version="0.15.1.v20200707-1444"/>
		<unit id="com.github.virtuald.curvesapi" version="1.6.0.v20200807-0931"/>
		<unit id="com.google.gdata" version="1.47.1.v20200819-2030"/>
		<unit id="net.bytebuddy.byte-buddy" version="1.7.9.v20180420-1519"/>
		<unit id="net.bytebuddy.byte-buddy-agent" version="1.7.9.v20180420-1519"/>
		<unit id="net.sourceforge.plantuml" version="1.2019.0.v20200820-1243"/>
		<unit id="org.antlr.runtime" version="3.5.2.v20200724-1452"/>
		<unit id="org.apache.commons.cli" version="1.4.0.v20200417-1444"/>
		<unit id="org.apache.commons.codec" version="1.14.0.v20200818-1422"/>
		<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
		<unit id="org.apache.commons.collections4" version="4.4.0.v20200420-1700"/>
		<unit id="org.apache.commons.compress" version="1.19.0.v20200106-2343"/>
		<unit id="org.apache.commons.csv" version="1.8.0.v20200804-1438"/>
		<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
		<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
		<unit id="org.apache.commons.math3" version="3.6.1.v20200817-1830"/>
		<unit id="org.apache.logging.log4j" version="2.8.2.v20200818-1118"/>
		<unit id="org.apache.poi" version="4.1.1.v20200604-1524"/>
		<unit id="org.apache.poi.ooxml" version="4.1.1.v20200820-1148"/>
		<unit id="org.apache.poi.ooxml.schemas" version="4.1.1.v20200922-2105"/>
		<unit id="org.apache.santuario.xmlsec" version="2.2.0.v20200818-1422"/>
		<unit id="org.apache.xmlbeans" version="3.1.0.v20200922-1359"/>
		<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
		<unit id="org.jdom" version="1.1.1.v201101151400"/>
		<unit id="org.mockito" version="2.23.0.v20200310-1642"/>
		<unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
		<unit id="org.yaml.snakeyaml" version="0.0.0"/>
		<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20201005193535/repository"/>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
	<vmArgs>-Dosgi.requiredJavaVersion=1.8</vmArgs>
</launcherArgs>
</target>