<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Epsilon Target Platform" sequenceNumber="112">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.emf.emfatic.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/emfatic/update"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.gmf.sdk.feature.group" version="3.2.1.201409171321"/>
		<unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="3.2.1.201409171321"/>
		<unit id="org.eclipse.gmf.tooling.feature.group" version="3.2.1.201409171321"/>
		<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.2.1.201409171321"/>
		<repository location="https://download.eclipse.org/modeling/gmp/gmf-tooling/updates/releases"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
		<unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/releases/2020-03"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		<repository location="https://download.eclipse.org/eclipse/updates/4.15"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.emf.compare.uml2.source.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/modeling/emf/compare/updates/releases/3.3"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
		<unit id="org.apache.commons.collections.source" version="3.2.2.v201511171945"/>
		<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
		<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
		<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
		<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
		<unit id="org.apache.commons.math3" version="3.5.0.v20160301-1110"/>
		<unit id="org.apache.commons.math3.source" version="3.5.0.v20160301-1110"/>
		<unit id="org.dom4j" version="1.6.1.v201312101416"/>
		<unit id="org.dom4j.source" version="1.6.1.v201312101416"/>
		<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
		<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
		<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
		<unit id="org.slf4j.log4j.source" version="1.7.2.v20130115-1340"/>
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20170307180635/repository"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
		<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.9.1.v20181210-1559"/>
		<repository location="https://download.eclipse.org/mmt/qvto/updates/releases/3.9.1"/>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
	<vmArgs>-Dosgi.requiredJavaVersion=1.8</vmArgs>
</launcherArgs>
</target>