<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.eugenia.ecore"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.eugenia.GenerateToolGraphMapDelegate"
               enablesFor="1"
               icon="icons/gmfmaptool.png"
               id="org.eclipse.epsilon.eugenia.GenerateToolGraphMapDelegate"
               label="Generate GMF tool, graph and map models"
               menubarPath="org.eclipse.epsilon.eugenia.ecore/actions">
         </action>
         <action
               class="org.eclipse.epsilon.eugenia.Ecore2GenModelDelegate"
               enablesFor="1"
               icon="icons/genmodel.png"
               id="org.eclipse.epsilon.eugenia.Ecore2GenModelDelegate"
               label="Generate EMF GenModel"
               menubarPath="org.eclipse.epsilon.eugenia.ecore/actions">
         </action>
         <menu
               id="org.eclipse.epsilon.eugenia.ecore"
               label="Eugenia"
               path="additions">
            <separator
                  name="actions">
            </separator>
            <separator
                  name="org.eclipse.epsilon.eugenia.separator1">
            </separator>
            <groupMarker
                  name="experimental">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.epsilon.eugenia.GenerateAllDelegate"
               enablesFor="1"
               icon="icons/generateall.png"
               id="org.eclipse.epsilon.eugenia.GenerateAllDelegate"
               label="Generate GMF editor"
               menubarPath="org.eclipse.epsilon.eugenia.ecore/experimental">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.easygmf.gmfgen"
            nameFilter="*.gmfgen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.eugenia.FixGmfGenDelegate"
               enablesFor="1"
               icon="icons/gmfgen.png"
               id="org.eclipse.epsilon.eugenia.FixGmfGenDelegate"
               label="Synchronize GMFGen"
               menubarPath="org.eclipse.epsilon.eugenia.gmfgen/actions">
         </action>
         <menu
               id="org.eclipse.epsilon.eugenia.gmfgen"
               label="Eugenia"
               path="additions">
            <separator
                  name="actions">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.easygmf.gmfgen"
            nameFilter="*.genmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.eugenia.FixGenModelDelegate"
               enablesFor="1"
               id="org.eclipse.epsilon.eugenia.FixGenModelDelegate"
               label="Synchronize EMF GenModel"
               menubarPath="org.eclipse.epsilon.eugenia.gmfgen/actions">
         </action>
         <menu
               id="org.eclipse.epsilon.eugenia.gmfgen"
               label="Eugenia"
               path="additions">
            <separator
                  name="actions">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.eugenia.emfatic"
            nameFilter="*.emf"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.epsilon.eugenia.emfatic"
               label="Eugenia"
               path="additions">
            <groupMarker
                  name="actions">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.epsilon.eugenia.GenerateAllDelegate"
               enablesFor="1"
               icon="icons/generateall.png"
               id="org.eclipse.epsilon.eugenia.GenerateAllDelegate"
               label="Generate GMF editor"
               menubarPath="org.eclipse.epsilon.eugenia.emfatic/actions">
         </action>
      </objectContribution>
   </extension>

</plugin>
