<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.eugenia.ecore"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.eugenia.GenerateToolGraphMapDelegate"
               enablesFor="1"
               icon="icons/gmfmaptool.png"
               id="org.eclipse.epsilon.eugenia.GenerateToolGraphMapDelegate"
               label="Generate GMF tool, graph and map models"
               menubarPath="org.eclipse.epsilon.eugenia.ecore/gmf">
         </action>
         <action
               class="org.eclipse.epsilon.eugenia.GenerateGenModelDelegate"
               enablesFor="1"
               icon="icons/genmodel.png"
               id="org.eclipse.epsilon.eugenia.Ecore2GenModelDelegate"
               label="Generate EMF GenModel"
               menubarPath="org.eclipse.epsilon.eugenia.ecore/emf">
         </action>
         <menu
               id="org.eclipse.epsilon.eugenia.ecore"
               label="Eugenia"
               path="additions">
            <separator
                  name="gmf">
            </separator>
            <separator
                  name="org.eclipse.epsilon.eugenia.separator3">
            </separator>
            <groupMarker
                  name="emf">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.epsilon.eugenia.GenerateAllDelegate"
               enablesFor="1"
               icon="icons/generateall.png"
               id="org.eclipse.epsilon.eugenia.GenerateAllDelegate"
               label="Generate GMF editor"
               menubarPath="org.eclipse.epsilon.eugenia.ecore/gmf">
         </action>
         <action
               class="org.eclipse.epsilon.eugenia.GenerateEmfEditorDelegate"
               enablesFor="1"
               icon="icons/genmodel.png"
               id="org.eclipse.epsilon.eugenia.GenerateEmfEditorDelegate"
               label="Generate EMF editor"
               menubarPath="org.eclipse.epsilon.eugenia.ecore/emf">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.eugenia.gmfgen"
            nameFilter="*.gmfgen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.eugenia.FixGmfGenDelegate"
               enablesFor="1"
               icon="icons/gmfgen.png"
               id="org.eclipse.epsilon.eugenia.FixGmfGenDelegate"
               label="Synchronize GMFGen"
               menubarPath="org.eclipse.epsilon.eugenia.gmfgen/actions">
         </action>
         <menu
               id="org.eclipse.epsilon.eugenia.gmfgen"
               label="Eugenia"
               path="additions">
            <separator
                  name="actions">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.eugenia.genmodel"
            nameFilter="*.genmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.eugenia.FixGenModelDelegate"
               enablesFor="1"
               icon="icons/genmodel.png"
               id="org.eclipse.epsilon.eugenia.FixGenModelDelegate"
               label="Synchronize EMF GenModel"
               menubarPath="org.eclipse.epsilon.eugenia.gmfgen/actions">
         </action>
         <menu
               id="org.eclipse.epsilon.eugenia.gmfgen"
               label="Eugenia"
               path="additions">
            <separator
                  name="actions">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.eugenia.emfatic"
            nameFilter="*.emf"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.epsilon.eugenia.emfatic"
               label="Eugenia"
               path="additions">
            <groupMarker
                  name="gmf">
            </groupMarker>
            <separator
                  name="org.eclipse.epsilon.eugenia.separator2">
            </separator>
            <groupMarker
                  name="emf">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.epsilon.eugenia.GenerateAllDelegate"
               enablesFor="1"
               icon="icons/generateall.png"
               id="org.eclipse.epsilon.eugenia.GenerateAllDelegate"
               label="Generate GMF editor"
               menubarPath="org.eclipse.epsilon.eugenia.emfatic/gmf">
         </action>
         <action
               class="org.eclipse.epsilon.eugenia.GenerateEmfEditorDelegate"
               enablesFor="1"
               icon="icons/genmodel.png"
               id="org.eclipse.epsilon.eugenia.GenerateEmfEditorDelegate"
               label="Generate EMF editor"
               menubarPath="org.eclipse.epsilon.eugenia.emfatic/emf">
         </action>
         <action
               class="org.eclipse.epsilon.eugenia.GenerateEcoreDelegate"
               enablesFor="1"
               icon="icons/ecore.png"
               id="org.eclipse.epsilon.eugenia.GenerateEmfEditorDelegate"
               label="Generate Ecore model"
               menubarPath="org.eclipse.epsilon.eugenia.emfatic/emf">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.eugenia.patches"
            nameFilter="patches"
            objectClass="org.eclipse.core.resources.IFolder">
         <menu
               id="org.eclipse.epsilon.eugenia.patches"
               label="Eugenia"
               path="additions">
            <separator
                  name="actions">
            </separator>
         </menu>
         <action
               class="org.eclipse.epsilon.eugenia.patches.UnapplyPatchesDelegate"
               enablesFor="1"
               icon="icons/unpatch.png"
               id="org.eclipse.epsilon.eugenia.UnapplyPatchesDelegate"
               label="Remove applied patches"
               menubarPath="org.eclipse.epsilon.eugenia.patches/actions">
         </action>
         <action
               class="org.eclipse.epsilon.eugenia.patches.ApplyPatchesDelegate"
               enablesFor="1"
               icon="icons/patch.png"
               id="org.eclipse.epsilon.eugenia.ApplyPatchesDelegate"
               label="Apply patches"
               menubarPath="org.eclipse.epsilon.eugenia.patches/actions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="org.eclipse.epsilon.eugenia.validation.problem.gmf"
         name="Eugenia GMF Validation Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
   </extension>
   <extension
         id="org.eclipse.epsilon.eugenia.validation.problem.emf"
         name="Eugenia EMF Validation Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
   </extension>

</plugin>
