<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.evl.eclipse.dt.launching.EvlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Wed Apr 16 13:13:01 BST 2008&#13;&#10;isMetamodelFileBased=true&#13;&#10;name=OO&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.validateoo/models/OOInstance.model&#13;&#10;expand=false&#13;&#10;metamodelFile=/org.eclipse.epsilon.examples.validateoo/metamodels/OO.ecore&#13;&#10;"/>
</listAttribute>
<stringAttribute key="source" value="\org.eclipse.epsilon.examples.validateoo\ValidateOO.evl"/>
<listAttribute key="tools"/>
</launchConfiguration>
