<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated example -->
      <package
            uri="example"
            class="org.eclipse.epsilon.eunit.examples.emfvalidator.EmfvalidatorPackage"
            genModel="model/example.genmodel"/>
   </extension>

</plugin>
