<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Epsilon"
            class="org.eclipse.epsilon.emc.simulink.common.dt.SimulinkEnginePreferencePage"
            id="org.eclipse.epsilon.emc.simulink.dt.SimulinkModelPreferencePage"
            name="Simulink Installation">
      </page>
   </extension>

</plugin>
