<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.eml.eclipse.dt.launcing.EmlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#10;#Mon Jul 05 23:31:57 BST 2010&#10;isMetamodelFileBased=false&#10;name=Core&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=Tree&#10;metamodelUri=Tree&#10;type=EMF&#10;modelFile=/org.eclipse.epsilon.examples.mergefragments/core.model&#10;expand=true&#10;metamodelFile=&#10;"/>
<listEntry value="#&#10;#Mon Jul 05 23:32:16 BST 2010&#10;isMetamodelFileBased=false&#10;name=Fragment&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=Tree&#10;metamodelUri=Tree&#10;type=EMF&#10;modelFile=/org.eclipse.epsilon.examples.mergefragments/fragment.model&#10;expand=true&#10;metamodelFile=&#10;"/>
<listEntry value="#&#10;#Mon Jul 05 23:32:36 BST 2010&#10;isMetamodelFileBased=false&#10;name=Target&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;metamodelUri=Tree&#10;type=EMF&#10;modelFile=/org.eclipse.epsilon.examples.mergefragments/target.model&#10;expand=true&#10;metamodelFile=&#10;"/>
</listAttribute>
<stringAttribute key="source" value="/org.eclipse.epsilon.examples.mergefragments/mergetrees.eml"/>
<stringAttribute key="source.ecl" value="/org.eclipse.epsilon.examples.mergefragments/matchtrees.ecl"/>
</launchConfiguration>
