<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="families"
            class="Families.FamiliesPackage"
            genModel="models/org/eclipse/epsilon/hutn/test/acceptance/models/Families.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="bankAccounts"
            class="bankAccounts.BankAccountsPackage"
            genModel="models/org/eclipse/epsilon/hutn/test/acceptance/models/Families.genmodel"/>
   </extension>

</plugin>
