<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.html.HtmlModel"
            dialog="org.eclipse.epsilon.emc.html.dt.HtmlModelConfigurationDialog"
            icon="images/html.gif"
            label="HTML Document"
            stable="true"
            type="HTML">
      </modelType>
   </extension>

</plugin>
