<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.epl.eclipse.dt.launching.EplLaunchConfigurationDelegate">
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <stringAttribute key="implementation_name" value="Parallel (Declarative operations)"/>
    <intAttribute key="maxLoops" value="-1"/>
    <listAttribute key="models">
        <listEntry value="aliases=&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;modelFile=/org.eclipse.epsilon.examples.oo2dbsync/oo.flexmi&#10;metamodelUri=oo&#10;concurrent=false&#10;type=EMF&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;expand=true&#10;fileBasedMetamodelUri=&#10;metamodelFile=&#10;cached=true&#10;name=OO&#10;modelUri=platform\:/resource/org.eclipse.epsilon.examples.oo2dbsync/oo.flexmi&#10;isMetamodelFileBased=false"/>
        <listEntry value="aliases=&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;modelFile=/org.eclipse.epsilon.examples.oo2dbsync/db.model&#10;metamodelUri=db&#10;concurrent=false&#10;type=EMF&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;expand=true&#10;fileBasedMetamodelUri=&#10;metamodelFile=&#10;cached=true&#10;name=DB&#10;modelUri=platform\:/resource/org.eclipse.epsilon.examples.oo2dbsync/db.model&#10;isMetamodelFileBased=false"/>
    </listAttribute>
    <intAttribute key="parallelism" value="7"/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="repeatWhileMatchesFound" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/org.eclipse.epsilon.examples.oo2dbsync/oo2dbsync.epl"/>
</launchConfiguration>
