<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/org.eclipse.epsilon.workflow.csv.jar">
      </extraClasspathEntry>
   </extension>
      <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.epsilon.workflow.tasks.csv.LoadCsvModelTask"
            library="lib/org.eclipse.epsilon.workflow.csv.jar"
            name="epsilon.csv.loadModel">
      </antTask>
   </extension>
</plugin>
