<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="widgets.presentation.WidgetsModelWizardID"
            name="%_UI_WidgetsModelWizard_label"
            class="widgets.presentation.WidgetsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WidgetsModelFile.gif">
         <description>%_UI_WidgetsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="widgets.presentation.WidgetsEditorID"
            name="%_UI_WidgetsEditor_label"
            icon="icons/full/obj16/WidgetsModelFile.gif"
            extensions="widgets"
            class="widgets.presentation.WidgetsEditor"
            contributorClass="widgets.presentation.WidgetsActionBarContributor">
      </editor>
   </extension>

</plugin>
