<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.eclipse.org/epsilon/examples/evl/xtext/EvlDSL"
			class = "org.eclipse.epsilon.examples.evl.xtext.evlDSL.EvlDSLPackage"
			genModel = "model/generated/EvlDSL.genmodel" />
	</extension>
 <extension
       point="org.eclipse.epsilon.evl.emf.validation">
    <constraintsBinding
          compose="true"
          constraints="evldsl.evl"
          namespaceURI="http://www.eclipse.org/epsilon/examples/evl/xtext/EvlDSL">
    </constraintsBinding>
 </extension>
</plugin>
