<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="flowchart.presentation.FlowchartModelWizardID"
            name="%_UI_FlowchartModelWizard_label"
            class="flowchart.presentation.FlowchartModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FlowchartModelFile.gif">
         <description>%_UI_FlowchartModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="flowchart.presentation.FlowchartEditorID"
            name="%_UI_FlowchartEditor_label"
            icon="icons/full/obj16/FlowchartModelFile.gif"
            extensions="flowchart"
            class="flowchart.presentation.FlowchartEditor"
            contributorClass="flowchart.presentation.FlowchartActionBarContributor">
      </editor>
   </extension>

</plugin>
