<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="rcpapp.presentation.RcpappModelWizardID"
            name="%_UI_RcpappModelWizard_label"
            class="rcpapp.presentation.RcpappModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RcpappModelFile.gif">
         <description>%_UI_RcpappModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="rcpapp.presentation.RcpappEditorID"
            name="%_UI_RcpappEditor_label"
            icon="icons/full/obj16/RcpappModelFile.gif"
            extensions="rcpapp"
            class="rcpapp.presentation.RcpappEditor"
            contributorClass="rcpapp.presentation.RcpappActionBarContributor">
      </editor>
   </extension>

</plugin>
