<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            constraints="flowchart.evl"
            namespaceURI="flowchart">
      </constraintsBinding>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="org.eclipse.epsilon.eugenia.examples.flowchart.diagram.diagnostic">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="org.eclipse.emf.ecore.diagnostic">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="flowchart.ewl"
            namespaceURI="flowchart">
      </wizards>
   </extension>

</plugin>
