<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="esm_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="esm_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="esm.diagram.part.EsmDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/EsmDiagramFile.gif"
         extensions="esm_diagram"
         default="true"
         class="esm.diagram.part.EsmDiagramEditor"
         matchingStrategy="esm.diagram.part.EsmMatchingStrategy"
         contributorClass="esm.diagram.part.EsmDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="esm.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/EsmDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="esm.diagram.part.EsmCreationWizard"
  	     id="esm.diagram.part.EsmCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.InitDiagram"
            nameFilter="*.esm"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="esm.diagram.part.EsmInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="EsmPresentation">
         <Priority name="Lowest"/>
         <ViewId id="esm.diagram.part.EsmDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="EsmPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="esm.diagram.part.EsmDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="EsmPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="esm.diagram.part.EsmDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="EsmRender">
         <Priority name="Lowest"/>
         <ViewId id="esm.diagram.part.EsmDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="esm.diagram.providers.EsmMarkerNavigationProvider">
         <MarkerType name="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Esm Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="esm.diagram.providers.EsmValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="esm.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.general"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.general"
            class="esm.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.appearance"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.appearance"
            category="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.general"
            class="esm.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.connections"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.connections"
            category="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.general"
            class="esm.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.printing"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.printing"
            category="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.general"
            class="esm.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.rulersAndGrid"
            name="%prefpage.org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.rulersAndGrid"
            category="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.general"
            class="esm.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram"
            labelProvider="esm.diagram.sheet.EsmSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="esm.diagram.sheet.EsmPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="esm.diagram.navigator.EsmAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="esm.diagram.providers.EsmViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="esm"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Esm"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2002,2001"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="esm.diagram.providers.EsmEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Esm"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2002,2001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5002,5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="esm.diagram.providers.EsmModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="esm.diagram.edit.parts.MachineEditPart" id="Machine_1000"/>
         <object class="esm.diagram.edit.parts.EndStateEditPart" id="EndState_2002"/>
         <object class="esm.diagram.edit.parts.StateEditPart" id="State_2001"/>
         <context elements="Machine_1000,EndState_2002,State_2001,"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="esm.diagram.providers.EsmIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="esm.diagram.providers.EsmParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="esm.diagram.providers.EsmShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2002,2001"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="esm">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.Machine_1000"
               name="%metatype.name.Machine_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Machine"
               edithelper="esm.diagram.edit.helpers.MachineEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="esm">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.EndState_2002"
               name="%metatype.name.EndState_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EndState"
               edithelper="esm.diagram.edit.helpers.EndStateEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="esm">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.State_2001"
               name="%metatype.name.State_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="State"
               edithelper="esm.diagram.edit.helpers.StateEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="esm">
         <metamodelType
               id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.Transition_4001"
               name="%metatype.name.Transition_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Transition"
               edithelper="esm.diagram.edit.helpers.TransitionEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.TypeContext">
         <elementType ref="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.Machine_1000"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.EndState_2002"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.State_2001"/>
         <elementType ref="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.Transition_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram"
           properties="isURIEditorInput"
           class="esm.diagram.part.EsmUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram"
           properties="isShortcut"
           class="esm.diagram.part.EsmShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.resourceContent"/>
			<contentExtension pattern="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.domainResourceContent"/>
            <contentExtension pattern="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="esm.diagram.navigator.EsmNavigatorContentProvider" 
            labelProvider="esm.diagram.navigator.EsmNavigatorLabelProvider"
            icon="icons/obj16/EsmDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="esm_diagram"/>
               </and>
               <instanceof value="esm.diagram.navigator.EsmAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="esm.diagram.navigator.EsmAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.navigatorSorter" 
               class="esm.diagram.navigator.EsmNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="esm_diagram"/>
                  </and>
                  <instanceof value="esm.diagram.navigator.EsmAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="esm.diagram.navigator.EsmDomainNavigatorContentProvider" 
            labelProvider="esm.diagram.navigator.EsmDomainNavigatorLabelProvider"
            icon="icons/obj16/EsmDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="esm"/>
               </and>
               <instanceof value="esm.diagram.navigator.EsmDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="esm.diagram.navigator.EsmDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.navigatorActionProvider"
            class="esm.diagram.navigator.EsmNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="esm.diagram.navigator.EsmAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.navigatorLinkHelper"
            class="esm.diagram.navigator.EsmNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="esm.diagram.navigator.EsmAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="esm.diagram.part.EsmDiagramUpdateCommand"
         description="%update.diagram.description"
         id="esm.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="esm.diagram.updateDiagram"
         contextId="esm.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="esm.diagram.part.EsmDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="esm.diagram.edit.parts.MachineEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="esm.diagram.part.EsmDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.eclipse.epsilon.eugenia.examples.executablestatemachine.graphical.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="esm.diagram.part.EsmDiagramEditorID"
         defaultHandler="esm.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
