<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Sun Mar 08 00:43:32 GMT 2009&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=Tree&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;metamodelUri=Tree&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.tree2graph/tree.model&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Sun Mar 08 00:43:38 GMT 2009&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=Graph&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=Graph&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.tree2graph/graph.model&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
</listAttribute>
<stringAttribute key="source" value="\org.eclipse.epsilon.examples.tree2graph\Tree2Graph.etl"/>
</launchConfiguration>
