<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.eol.eclipse.dt.launching.EolLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Tue Jul 22 08:27:03 BST 2008&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=GmfMap&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=http\://www.eclipse.org/gmf/2008/mappings&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.eugenia.examples.filesystem/model/filesystem.gmfmap&#13;&#10;expand=false&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Tue Jul 22 08:27:10 BST 2008&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=ECore&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.eugenia.examples.filesystem/model/filesystem.ecore&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Tue Jul 22 08:27:15 BST 2008&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=GmfGraph&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=http\://www.eclipse.org/gmf/2006/GraphicalDefinition&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.eugenia.examples.filesystem/model/filesystem.gmfgraph&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Tue Jul 22 08:27:21 BST 2008&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=GmfTool&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=http\://www.eclipse.org/gmf/2005/ToolDefinition&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.eugenia.examples.filesystem/model/filesystem.gmftool&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
</listAttribute>
<stringAttribute key="source" value="\org.eclipse.epsilon.easygmf\transformations\ECore2GMF.eol"/>
</launchConfiguration>
