<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.simuink.dictionary.dt.SimulinkDictionaryModelInEclipse"
            dialog="org.eclipse.epsilon.emc.simuink.dictionary.dt.SimulinkDictionaryModelConfigurationDialog"
            icon="images/matlab.png"
            label="Simulink Dictionary Model"
            stable="true"
            type="SimulinkDictionary">
      </modelType>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.modelElementLocator">
      <modelElementLocator
            class="org.eclipse.epsilon.emc.simuink.dictionary.dt.SimulinkDictionaryModelElementLocator">
      </modelElementLocator>
   </extension>
</plugin>
