<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.graphml.GraphmlModel"
            dialog="org.eclipse.epsilon.emc.graphml.dt.GraphmlModelConfigurationDialog"
            icon="images/graphml.png"
            label="GraphML Muddle"
            stable="true"
            type="GraphML">
      </modelType>
   </extension>

</plugin>
