<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated muddle -->
      <package
            uri="http://www.eclipse.org/epsilon/emc/muddle"
            class="org.eclipse.epsilon.emc.muddle.MuddlePackage"
            genModel="model/muddle.genmodel"/>
   </extension>

</plugin>
