<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            bundleId="org.eclipse.epsilon.eugenia"
            constraints="transformations/ECore2GMF.evl"
            modelName="ECore"
            namespaceURI="http://www.eclipse.org/emf/2002/Ecore">
      </constraintsBinding>
   </extension>

</plugin>
