<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="friends.presentation.FriendsModelWizardID"
            name="%_UI_FriendsModelWizard_label"
            class="friends.presentation.FriendsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FriendsModelFile.gif">
         <description>%_UI_FriendsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="friends.presentation.FriendsEditorID"
            name="%_UI_FriendsEditor_label"
            icon="icons/full/obj16/FriendsModelFile.gif"
            extensions="friends"
            class="friends.presentation.FriendsEditor"
            contributorClass="friends.presentation.FriendsActionBarContributor">
      </editor>
   </extension>

</plugin>
