<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/org.eclipse.epsilon.eol.engine/src/org/eclipse/epsilon/eo/parse"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.epsilon.antlr.dev/src/org/eclipse/epsilon/antlr/dev/Tool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.epsilon.antlr.dev.Tool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-package org.eclipse.epsilon.eol.parse -lib &quot;${resource_loc:/org.eclipse.epsilon.eol.engine/src/org/eclipse/epsilon/eol/parse}&quot; -o ${resource_loc:/org.eclipse.epsilon.eol.engine/src/org/eclipse/epsilon/eol/parse} ${resource_loc:/org.eclipse.epsilon.eol.engine/src/org/eclipse/epsilon/eol/parse/Eol.g}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.epsilon.antlr.dev"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${resource_loc:/org.eclipse.epsilon.eol.engine/src/org/eclipse/epsilon/eol/parse}"/>
</launchConfiguration>
