<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="people.presentation.PeopleModelWizardID"
            name="%_UI_PeopleModelWizard_label"
            class="people.presentation.PeopleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PeopleModelFile.gif">
         <description>%_UI_PeopleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="people.presentation.PeopleEditorID"
            name="%_UI_PeopleEditor_label"
            icon="icons/full/obj16/PeopleModelFile.gif"
            extensions="people"
            class="people.presentation.PeopleEditor"
            contributorClass="people.presentation.PeopleActionBarContributor">
      </editor>
   </extension>

</plugin>
