<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="esm.presentation.EsmModelWizardID"
            name="%_UI_EsmModelWizard_label"
            class="esm.presentation.EsmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EsmModelFile.gif">
         <description>%_UI_EsmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="esm.presentation.EsmEditorID"
            name="%_UI_EsmEditor_label"
            icon="icons/full/obj16/EsmModelFile.gif"
            extensions="esm"
            class="esm.presentation.EsmEditor"
            contributorClass="esm.presentation.EsmActionBarContributor">
      </editor>
   </extension>

</plugin>
