<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Epsilon"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.epsilon.common.dt.examples">
      </category>
      
   </extension>

</plugin>