<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.epsilon.eugenia.examples.fed.presentation.FedModelWizardID"
            name="%_UI_FedModelWizard_label"
            class="org.eclipse.epsilon.eugenia.examples.fed.presentation.FedModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FedModelFile.gif">
         <description>%_UI_FedModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.epsilon.eugenia.examples.fed.presentation.FedEditorID"
            name="%_UI_FedEditor_label"
            icon="icons/full/obj16/FedModelFile.gif"
            extensions="fed"
            class="org.eclipse.epsilon.eugenia.examples.fed.presentation.FedEditor"
            contributorClass="org.eclipse.epsilon.eugenia.examples.fed.presentation.FedActionBarContributor">
      </editor>
   </extension>

</plugin>
