<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.eclipse.epsilon.eol.tools.SchedulerTool"
            defaultName="scheduler"/>
      <tool
            class="org.eclipse.epsilon.eol.tools.Timer"
            defaultName="timer">
      </tool>
      <tool
            class="org.eclipse.epsilon.eol.tools.JavaTool"
            defaultName="java">
      </tool>
      <tool
            class="org.eclipse.epsilon.eol.tools.ProfilerTool"
            defaultName="profiler">
      </tool>
      <tool
            class="org.eclipse.epsilon.eol.tools.MathTool"
            defaultName="mathTool">
      </tool>
      <tool
            class="org.eclipse.epsilon.eol.tools.FileSystemTool"
            defaultName="fileSystemTool">
      </tool>
   </extension>

</plugin>
