<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.epsilon.evl.emf.validation">
    <constraintsBinding
          compose="true"
          constraints="evldsl.evl"
          namespaceURI="http://www.eclipse.org/epsilon/examples/evl/xtext/EvlDSL">
    </constraintsBinding>
 </extension>

</plugin>
