<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.eml.eclipse.dt.launcing.EmlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Fri Sep 12 11:50:25 BST 2008&#13;&#10;isMetamodelFileBased=true&#13;&#10;name=Source&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;metamodelUri=&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.mergeentitywithvocabulary/models/Source.model&#13;&#10;expand=false&#13;&#10;metamodelFile=/org.eclipse.epsilon.examples.mergeentitywithvocabulary/metamodels/Entity.ecore&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Fri Sep 12 11:51:01 BST 2008&#13;&#10;isMetamodelFileBased=true&#13;&#10;name=Vocabulary&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;metamodelUri=&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.mergeentitywithvocabulary/models/Vocabulary.model&#13;&#10;expand=false&#13;&#10;metamodelFile=/org.eclipse.epsilon.examples.mergeentitywithvocabulary/metamodels/DomainVocabulary.ecore&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Fri Sep 12 11:52:12 BST 2008&#13;&#10;isMetamodelFileBased=true&#13;&#10;name=Target&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;metamodelUri=&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.epsilon.examples.mergeentitywithvocabulary/models/Target.model&#13;&#10;expand=false&#13;&#10;metamodelFile=/org.eclipse.epsilon.examples.mergeentitywithvocabulary/metamodels/Entity.ecore&#13;&#10;"/>
</listAttribute>
<stringAttribute key="source" value="\org.eclipse.epsilon.examples.mergeentitywithvocabulary\EntityWithVocabulary.eml"/>
<stringAttribute key="source.ecl" value="\org.eclipse.epsilon.examples.mergeentitywithvocabulary\EntityWithVocabulary.ecl"/>
</launchConfiguration>
