<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.epsilon.examples.picto.headless.ExportPictoViewsAction"
            nameFilter="*.picto"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.epsilon.examples.picto.headless.ExportPictoViewsAction"
               id="org.eclipse.epsilon.examples.picto.headless.ExportPictoViewsAction"
               label="Export Views"/>
      </objectContribution>
   </extension>
</plugin>
