name: Build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: GitHubSecurityLab/actions-permissions/monitor@v1
      with:
        config: ${{ vars.PERMISSIONS_CONFIG }}
      if: runner.os != 'Windows'
    - uses: actions/checkout@v4
    - name: Install Webkit + GTK bindings
      run: sudo apt-get install -yq libwebkit2gtk-4.0-dev
      if: runner.os == 'Linux'
    - name: Set up Maven 3.9.5
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1
      with:
        maven-version: 3.9.5
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn --batch-mode -U -T 1C clean install
    - name: Run headless test
      uses: coactions/setup-xvfb@v1.0.1
      with:
        run: mvn --batch-mode -f tests/org.eclipse.epsilon.test verify -P plugged
    - name: Full Test Suite
      run: >
        bash plugins/org.eclipse.epsilon.eunit.cmp.emf/download-emf-compare.sh &&
        mvn --batch-mode -f tests/org.eclipse.epsilon.test surefire:test -P unit
    - name: Standalone Maven artifacts
      run: mvn --batch-mode -T 1C -f pom-plain.xml compile
    - name: Upload Log
      uses: actions/upload-artifact@v3.1.3
      if: always()
      with:
        name: metadataLog
        path: tests/org.eclipse.epsilon.test/target/work/data/.metadata/.log
