<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Employee -->
      <package
            uri="http://www.eclipse.org/OCL/examples/codegen/employee"
            class="org.eclipse.epsilon.ecore.delegates.test.employee.EmployeePackage"
            genModel="model/Employee.genmodel"/>
   </extension>

</plugin>
