<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.eclipse.epsilon.emc.jdt.JdtModel"
            dialog="org.eclipse.epsilon.emc.jdt.dt.JdtModelConfigurationDialog"
            icon="images/jdtmodel.gif"
            label="Java (JDT) Model"
            type="JDT">
      </modelType>
   </extension>
</plugin>
