<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/07/10 13:48:44 dkolovos Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.example.org/hutn" 
       class = "org.eclipse.epsilon.hutn.model.hutn.HutnPackage"
       genModel = "model/org/eclipse/epsilon/hutn/model/HUTN.genmodel" /> 
  </extension>

</plugin>
